*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}



header{
    background-color: black;
    position: fixed;
    width: 100vw;

}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

header nav a {
    color: white;
    padding: 8px;
    transition: 1s;
}
 header nav a:hover{
     background-color: lightblue;
     color: black;
     padding: 8;
 }

 .grupo{
     height: 100vh;
 }

 #vermelho{
     background-color: red;

 }
 #verde{
     background-color: green;
 }
 #azul{
     background-color: blue;
 }
 #amarelo{
     background-color: yellow;
 }
 #roxo{
     background-color: purple;
 }