*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}



header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100vw;

}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

header nav a {
    color: rgb(0, 0, 0);
    padding: 8px;
    transition: 1s;
}
 header nav a:hover{
     background-color: lightblue;
     color: black;
     padding: 8;
 }

 .grupo{
     height: 100vh;
 }

 #vermelho{
     background-color: #C93232;

 }
 #verde{
     background-color: #FEC210;
 }
 #azul{
     background-color: #3C4BF2;
 }
 #amarelo{
     background-color: #980CDE;
 }
 #roxo{
     background-color: #3E7A1C;
 }

 
 
 .barro{
     width: 70vh;
     margin-left: 60vh;
     
 }
 
 .kurosaki{
     width: 70vh;
     margin-top: 4vh;
 }
 
 .hirako{
     width: 40vw;
     margin-top: 32.8vh;
     margin-left: 25vw;
 }

 .aizen{
     width: 90vh;
     margin-left:50vh;
     margin-top: 39.5vh ;
     
 }

 .starrk{
     float: right;
     width: 108.5vh;
 }

